name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Compile Java
      run: javac -cp src src/Main.java
      
    - name: Compile Test
      run: javac -cp src src/TesteControleAcesso.java
      
    - name: Run Test
      run: |
       java -cp src TesteControleAcesso

