name: catraca ci nativo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: jdk setup
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: build
      run: |
        cd src
        javac -cp . org/example/Main.java
        javac -cp . org/example/TesteControleAcesso.java
    - name: exec
      run: |
        cd src
        java -cp . org.example.TesteControleAcesso
    - uses: docker/build-push-action@v2
      name: subindo no docker
      with:
        context: .
        file: dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/catraca:1.0
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: versioning
      uses: codacy/git-version@2.4.0
      with:
        release-branch: main
